@import url('https://fonts.cdnfonts.com/css/lexend');

:root {
    --lighterBlue: #d7effb;
    --lightBlue: #a3e2ff;
    --darkBlue: #00509f;
    --a: -35deg;
    --t: .2em; 
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lexend', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(215, 239, 251);
    background: radial-gradient(circle, rgba(215, 239, 251, 0.773) 0%, rgba(93, 190, 235, 0.808) 81%);
}

header,
.title {
    display: flex;
    flex-direction: column;
}

header {
    margin: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.title {
    text-align: center;
    gap: -10px;
    margin-bottom: 1.5rem;
}

#check {
    font-weight: lighter;
    font-size: 2rem;
    color: var(--darkBlue);
    margin-left: -10rem;
}

.title p,
#dif-font {
    line-height: 0.7;
}

#dif-font {
    font-style: italic;
    font-weight: bolder;
    font-size: 4.5rem;
    margin-right: -10rem;
}

#detail {
    --_s: calc(var(--t)*cos(var(--a)));
    background:
        linear-gradient(var(--a), #0000 var(--_s), currentColor 0 calc(100% - var(--_s)), #0000 0) bottom/var(--i, 85%) var(--t) no-repeat;
    padding: 0 .5em calc(var(--t) + .1em);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#detail:hover {
    --i: 100%;
}

#dif-font,
#detail {
    color: rgb(6, 6, 91);
}

#content {
    font-size: 1rem;
    width: 25rem;
    text-align: center;
    color: var(--darkBlue);
}

main {
    position: relative;
    background-color: #63bae3;
    border-radius: 2.4rem;
}

.search-box,
.search-box-expand,
.search-box-loading {
    display: flex;
    align-items: center;
    border-radius: 2.4rem;
}

.search-box-expand,
.search-box-loading {
    width: 430px;
    height: 410px;
}

/* search-box tamanho grande */
.search-box-expand {
    justify-content: center;
}

/* search-box tamanho pequeno */
.search-box {
    width: 450px;
    height: 120px;
    justify-content: space-between;
    flex-direction: column;
}

.search-box-loading {
    flex-direction: column;
    justify-content: center;
}

#image-error {
    width: 300px;
    margin-top: 3.5rem;
}

#search-bar {
    display: flex;
    align-items: center;
    position: absolute;

    top: 30px;
    gap: 17px;
}

/* ícones */
#location {
    color: var(--darkBlue);
    font-size: 35px;
}

#search {
    font-size: 20px;
    color: var(--lightBlue);
}

#searchButton {
    padding: 11px;
    border-radius: 50%;

    cursor: pointer;

    background-color: var(--darkBlue);
    border-style: none;
}

#inputText {
    padding: 1rem;
    width: 16rem;

    border-radius: 10px;
    border-style: none;
}

.image-weather {
    text-align: center;
}

#weather-condition {
    width: 200px;
    margin-top: 1.5rem;
}

.weather-details {
    display: flex;
    padding-top: 10px;
}

.weather-info {
    display: flex;
    flex-direction: row;
    padding-top: 1.6rem;
    gap: 60px;
}

#weather-temp,
#weather-humidity {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 30px;
    color: var(--darkBlue);
}

#info, #hum-num, #temp-num {
    color: #0b3d6e;
    text-shadow: 1px -1px 15px var(--lighterBlue);
}

/* animação do loading data */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.loading-text span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: var(--darkBlue);
    animation: bounce 2s ease-in-out infinite;
    padding: 1px;
}

.loading-text span {
    animation-delay: calc(var(--i) * 0.1s);
}

@media (max-width: 430px) {

    .search-box,
    .search-box-expand,
    .search-box-loading {
        width: 20.5rem;
    }

    #inputText {
        width: 10rem;
        font-size: 14px !important;
    }

    #search-bar {
        gap: 0.8rem;
    }

    #weather-condition {
        width: 10rem;
    }

    #image-error {
        width: 15rem;
    }

    #check {
        font-weight: lighter;
        font-size: 1.3rem;
        color: var(--darkBlue);
        margin-left: -9.5rem;
    }

    #dif-font {
        font-style: italic;
        font-weight: bolder;
        font-size: 3.1rem;
        margin-right: -6rem;
    }

    #content {
        font-size: 0.8rem;
        width: 20rem;
        text-align: center;
        color: var(--darkBlue);
    }
}