:root {
    --lighterBlue: #d7effb; 
    --lightBlue: #a3e2ff;
    --darkBlue: #00509E
}

* {
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--lighterBlue);
}

main {
    position: relative;
    background-color: var(--lightBlue);

    border-radius: 20px;
}

.search-box-error {
    width: 450px;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.search-box-sucess {
    width: 450px;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-box {
    width: 450px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 30px; 
}

#icon {
    color: var(--darkBlue);
    font-size: 35px;
}

#inputText {
    padding: 15px;
    width: 16rem;

    border-radius: 10px;
    border-style: none;
}

#searchButton {
    padding: 11px;
    border-radius: 50%;

    cursor: pointer;

    background-color: var(--darkBlue);
    border-style: none;
}

#search {
    font-size: 20px;
    color: var(--lightBlue);
}

#weather-condition{
    width: 200px;
}

.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
